### DS102 | In Class Practice Week 1B - Pandas & Numpy I
<hr>
## Learning Objectives
At the end of the lesson, you will be able to:

- read a CSV file into a `DataFrame` with default `sep` parameters as separators

- find out key properties (`shape`, `columns`, `dtypes`) of a `DataFrame`.

- Use `head()` and `sample()` to look at a subset of the dataset


- retrieve a row from a `DataFrame` using indices and `.iloc`

- retrieve a column from a `DataFrame`, recognising this gives a `Series` 


- filter data using numeric comparators e.g. `>=1000`

- filter data using string equality comparators e.g. `== 'RED'`

- filter data using multiple conditions using `.isin()` e.g. `.isin([1, 2, 3])`

- filter data using two conditions, using the AND clause


### Datasets Required for this In Class
1. `employees-1k.csv`

#### Import `pandas` and `numpy`

In [ ]:
import pandas as pd
import numpy as np

### Instantiate a `DataFrame`

**Instantiate a `DataFrame` from an external CSV file**
To manipulate data as a `DataFrame`, use `pd.read_csv()` to read the CSV file into a `DataFrame`. Refer to the documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv).

In [ ]:
# Read from CSV file
#

Find out the no. of rows and columns using `df.shape`

In [ ]:
# Find no. of rows and columns
#

Check the columns in the `DataFrame` using `df.dtypes` and `df.columns`

In [ ]:
# Check the columns using dtypes
#

In [ ]:
# Check the columns using columns
#

Find out what's in the dataset using `head()` or `sample()`. `head()` will show the first 5 records by default, while `sample()` will randomly select and show 1 record by default.

In [ ]:
# Find the first few records with .head()
#

In [ ]:
# Randomly sample (without replacement) with .sample()
#

### Retrieve records & columns from a `DataFrame`

#### Retrieve a column from a `DataFrame`
We will now retrieve all the `annual_inc` data from the `df`. Use the column name to retrieve the column and store that as a new variable `annual_incs`. This is known as a `Series`. 
<div class="alert alert-info">
<b>DS102 Learning Guidelines: </b>For DS102, only store <u>1 column</u> in a `Series`. Refer to [the documentation](https://pandas.pydata.org/pandas-docs/stable/advanced.html) for other ways a `Series` can be represented.
</div>

In [ ]:
# Retrieve a series from a dataframe and verify that the datatype is a Series
#

In [ ]:
# Use Series.head() to show the first records
#

In [ ]:
# Use Series.sample() to sample records from the Series
# (Note the indices of the Series. They are random.)
#

In [ ]:
# Verify that the datatype is a Series
#

#### Retrieve a record from a `DataFrame`
To retrieve just 1 record from the `DataFrame`, use `.iloc` and specify the index of the record. Put this value in the square brackets `[]`.

Note: When you do this, the datatype of the result is a `Series`. Use the index in the `Series` to retrieve the value.

In [ ]:
# Exercise: How do you show the first 5 records of the df?
#

In [ ]:
# Retrieve the second record from the df using .iloc[] and validate the result. 
# Store this in a variable called row_2
#

In [ ]:
# Verify that the datatype is a Series, where the index are now the column names.
#

In [ ]:
# Complete the following code to retrieve the employee_id and employee_title.
emp_id = 0
emp_title = ''

# Then, fill in the blanks in the following statement.
print('The employee with ID ' + str(emp_id) + ' has the job title ' + emp_title + '.')

In [ ]:
# Your turn: What is the employee ID and annual income of the 10th employee (index=9)
# Write your code here
#
emp_9id = 0
emp_9annual_inc = 0.0

# Then, fill in the blanks in the following statement. Debug the code by 
# specifying the correct datatypes of the variables.
print('The employee with ID ' + emp_9id + ' has an annual income of ' + emp_9annual_inc + '.')

### Filter records from a `DataFrame`

#### Filtering by one condition, numeric

To perform filtering by numeric values, first **check that the column is a numeric column (`int64` or `float64`)**. It was already done when you used `df.dtypes`. Then, use the following signature to do so:
```python
df[df['column'] <conditional operator> <value>]
```
Take note of the open & close square brackets, and how a condition is expressed, where you use a **column name**, a **conditional operator** and a **value**.

In [ ]:
# Before filtering, it is a good practice to use copy() first. This is done
# so modifications do not get reflected in the original df
df_above_300k = df.copy()

# Q. Identify all records in the df where the annual_inc is 300000 or greater.
#

#### Filtering by one condition, using string comparators

To perform filtering using a string function, use `==` e.g. `== 'OWN'`. Follow the above notation using a column, a comparator and a value in the same order.

In [ ]:
# Copy the df
df_home_ownership_own = df.copy()

# Filter for all records where homeownership has the value 'OWN'
#

You can find records satisfying multiple string matches with the `isin` function. First state the **column** you would want to filter on. Then, like calling a function, use a `.` symbol followed by `.isin()`. Finally, put the values of interest **as a list**. Put this list as a parameter of the `isin()` function.

In [ ]:
# Copy the df
#

# Filter for all records where employee_title is 'Accountant' or 'Sales'
#

#### Filtering by two conditions using the AND logic

If you would like to filter for two conditions, using `AND` as the logical operator, put a `&` in your expression. For every condition, surround them with round brackets `(` and `)`.

In [ ]:
# Copy the df
df_of_interest = df.copy()

# Filter for all records where the employee_title is President and the annual_inc is 225000 or greater
#

In [ ]:
# Contrast this with the following filter:
# Q. Find all employees with the title 'President'
# Your turn: Can you solve this in-class exercise?
#

In [ ]:
# Contrast this with the following filter:
# Q. Find all employees who have an annual_inc of 225000 or more.
# Your turn: Can you solve this in-class exercise?
#

**Credits**
- [Lending Club Loan Data, Kaggle](https://www.kaggle.com/wendykan/lending-club-loan-data) for the dataset
<hr>
`HWA-DS102-INCLASS-1B-201810`