<center><img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/></center>
<h1> Hackwagon Academy DS102 Lesson 2A </h1>
<h2> Introduction to Pandas Part 2</h2> 
<h3> Lesson Outline </h3>

- 1. [Recap](#1)
    - 1.1 [Series](#1.1)
    - 1.2 [DataFrame](#1.2)
    - 1.3 [Filtering](#1.3)
    - 1.4 [Simple Aggregation](#1.4)
    - [Practice I](#P1)
- 2. [Data Preprocessing & Cleaning](#2)
    - 2.1 [Functions Recap](#2.1)
    - 2.2 [.apply()](#2.2)
    - 2.3 [.replace()](#2.3)
    - 2.4 [Pokemon Dataset](#2.4)
    - [Practice II](#P2)
- 3. [Pivot Tables](#3)
    - 3.1 [Visualized](#3.1)
    - 3.2 [Accessing](#3.2)

<div class="alert alert-block alert-info">
<b>Datasets:</b>

1. hackwagon-102pandassandbox.csv

2. wines-3k.csv

3. pokemon.csv
</div>

### Import Libraries

In [ ]:
import pandas as pd
import numpy as np

<hr/>

<a id='1'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=23 align="left"><font color="salmon">&nbsp;1.</font><font color="salmon"> Recap </font> </h2></a>

<a id='1.1'><h3>1.1 DataFrame</h3></a>

A two-dimensional, tabular data structure with labeled axes (rows and columns), and is the **primary** pandas data structure. You can think of a `DataFrame` as a spreadsheet in Python.
A `DataFrame` is made up of multiple `Series` objects stuck together vertically and horizontally. <br>

In [ ]:
feedback_df = pd.read_csv('hackwagon-102pandassandbox.csv')
feedback_df.head()

<a id='1.1'><h3>1.2 Series</h3></a>

A `Series` == Row / Column of a `Dataframe`

- Extracting a column from a `Dataframe` is very similar to accessing data in a `dictionary`.

In [ ]:
feedback_df['Instructor']

### Create New Column with Series 

We can create new columns to add to a DataFrame.

```python
    df['new_col_name'] = Series
```

In [ ]:
feedback_df['StudentsSquared'] = feedback_df['Students'] ** 2

feedback_df.head()

<a id='1.3'><h3>1.3 Filtering</h3></a>

We can filter for results within a `DataFrame` to get the data we want. 

We specify the column we want to isolate in the DataFrame, then specify the boolean condition we are looking for. For example, we want to find the `Females` in the `Sex` column. 

```python
df['sex'] == 'Females'

# or for multiple conditions, we link them by & (and) or | (or) symbols
# where each condition is surrounded by a ()

(df['sex'] == 'Females') & (df['type_of_course'] == 'Medicine')

```

This gives us a Boolean Series of multiple `True` and `False` values.

In [ ]:
ds101_only = feedback_df['ClassType'] == 'DS101'
andre_only = feedback_df['Instructor'] == 'Andre'

ds101_andre = feedback_df[ds101_only & andre_only]
ds101_andre

<a id='1.4'><h3>1.4 Simple Aggregation</h3></a>

`Dataframes` and `Series` objects have many useful methods to help you compute statistics.

<table>
  <tr>
    <th>Statistical measure</th>
    <th>Dataframe method</th>
    <th>Series method</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Mean</td>
    <td>df.mean()</td>
    <td>df['column_name'].mean()</td>
    <td>Returns the mean of all columns / the selected column</td>
  </tr>
  <tr>
    <td>Median</td>
    <td>df.median()</td>
    <td>df['column_name'].median()</td>
    <td>Returns the median of all columns / the selected column</td>
  </tr>
  <tr>
    <td>Standard Deviation</td>
    <td>df.std()</td>
    <td>df['column_name'].std()</td>
    <td>Returns the standard deviation of all columns / the selected column</td>
  </tr>
  <tr>
    <td>Sum</td>
    <td>df.sum()</td>
    <td>df['column_name'].std()</td>
    <td>Returns the sum of all columns / the selected column</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>

In [ ]:
feedback_df['Students'].mean()

<a id='P1'><h2> <img src="https://cdn.shopify.com/s/files/1/1200/7374/products/book_aec28e76-52ec-44ab-bc01-41df1279c89f_550x825.png?v=1473897430" width=25 align="left"> <font color="darkorange"> &nbsp; Practice I </font><font color="skyblue"> * </font></h2></a>

### Read Dataset

Read the `wines-3k.csv` dataset as `wines_df` (don't forget the `sep='|'` parameter) and preview the dataset with `.head()`.

### Filter for `Australia` wines and get their average `price`

**Expected Output:**
    
    33.80232558139535

<a id='1'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=23 align="left"><font color="salmon">&nbsp;2.</font><font color="salmon"> Data Preprocessing & Cleaning </font> </h2></a>

Pandas allow for quick data preprocessing and cleaning with useful methods such as:

1. .apply()
2. .replace()
3. Pivot Table

<a id='2.1'><h3>2.1 Functions Recap</h3></a>

<img src='https://i.imgur.com/jhpovl8.png' width="350">

In [ ]:
def give_first_item(a_list):
    return a_list[0]

In [ ]:
print(give_first_item([10,20,30,40]))
print(give_first_item([100,200,300]))

### The Lambda 

The `lambda` reserved keyword is a short form way of making a function.

<img src="https://i.imgur.com/dVP1PBy.png" width='200'>

In [ ]:


print(lambda_give_first([10,20,30,40]))
print(lambda_give_first([100,200,300]))

### Hackwagon Pandas Sandbox 

Open the pandas sandbox dataset

In [ ]:
feedback_df = pd.read_csv('hackwagon-102pandassandbox.csv')
feedback_df.head()

<a id='2.2'><h3>2.2   .apply()</h3></a>

The `.apply()` function is very useful for data cleaning a variable in a dataset. 

<img src="https://i.imgur.com/99M6Vl7.png" width="400">
<img src="https://i.imgur.com/wRKXB85.png" width="500">

Even after applying the method, <b>it does not change the column of df permanently.</b> The method returns a new Series object, where you can store it as another variable.

In [ ]:
increased_students = feedback_df['Students'].apply(lambda x: x+1)
feedback_df['Students'] = increased_students
feedback_df.head()

<a id='2.3'><h3>2.3  .replace()</h3></a>

The `.replace()` method works similarly to `.apply()` but just that its parameter takes in a <b>single value or a list</b> and it requires a second argument, a value to be replaced with.

### Investigate Unique

To effectively use replace properly, we need to first investigate if the number of unique values within a variable. We can do that by using `.unique()`.

### Use `.replace()`
<img src="https://i.imgur.com/lW14HGv.png" width="400">
<img src="https://i.imgur.com/u1deMLN.png" width="500">

Similar to the `.apply()` method, even after applying the method, <b>it does not change the column of df permanently.</b> The method returns a new Series object. Therefore it needs to be stored back to the same column or a new column in the DataFrame.

In [ ]:
replaced = feedback_df['Rating'].replace(['Nil','Nope'], 0)
feedback_df['Rating'] = replaced.apply(np.int) # To make sure row is numeric
feedback_df.head()

<a id='2.4'><h3>2.4  Pokemon Dataset</h3></a>

Read the `pokemon.csv` as a DataFrame called `pokemon_df`.

<a id='P1'><h2> <img src="https://cdn.shopify.com/s/files/1/1200/7374/products/book_aec28e76-52ec-44ab-bc01-41df1279c89f_550x825.png?v=1473897430" width=25 align="left"> <font color="darkorange"> &nbsp; Practice II </font><font color="skyblue"> * </font></h2></a>

### Calculate Min Max

Create 2 variables that has the maxmimum and minimum value of the `Speed` column, naming them `max_speed` and `min_speed`.

**Expected Output:**
``` python   
    180 # max speed
    5 # min speed
```

### Create Normalise Function

Using the two variables created above, prepare a function called `calculate_normalised_speed()` that has a parameter `speed`. Inside the function, it should return the result of the following formula:

$$
\text{Normalised Speed}_x = \frac{Speed_x - Speed_{min}}{Speed_{max} - Speed_{min}}
$$

_You can use `lambda` or `def`_

### Using `.apply()`, Create New Column

Using the `.apply()` method on the `Speed` column, create a new column called `Normalised_Speed` to the `df`. <b>Make sure you store it back to the `pokemon_df`</b>

### Use `.head()` to preview newly altered df

### Use `.to_csv()` to save your preprocessed data

Save the new df as a new csv file with the `.to_csv()` with `normalised_pokemon.csv` as the name in the ().

<a id='3'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=23 align="left"><font color="salmon">&nbsp;3.</font><font color="salmon"> Pivot Tables </font> </h2></a>

Pivot Table is one of the most useful and powerful features in pandas but understanding them can be quite challenging. We shall keep our example simple for now, so that it is easy to understand by using our `hackwagon-102sandbox.csv`.

In [ ]:
feedback_df = pd.read_csv('hackwagon-102pandassandbox.csv')
feedback_df.head()

#### Clean the `Rating` Column by `.replace()`

Remove all the `Nil` or `Nope` by using the `.replace()` method and place them as 0

In [ ]:
replaced = feedback_df['Rating'].replace(['Nil','Nope'], 0)
feedback_df['Rating'] = replaced.apply(np.int) # To make column numeric
feedback_df.head()

<a id='3.1'><h3>3.1 Visualized</h3></a>

<img src="https://pbpython.com/images/pivot-table-datasheet.png">

In [ ]:
pivoted = pd.pivot_table(, # data (data frame)
                        index=, 
                        columns=, # 
                        values=, # 
                        aggfunc=, # 
                        margins=True)
pivoted

**Credits**
- [Wine Reviews, Kaggle](https://www.kaggle.com/zynicide/wine-reviews) for the dataset
- [Pokemon with stats, Kaggle](https://www.kaggle.com/abcsds/pokemon) for the dataset