<center><h2>DS102 Problem Set - Week 1</h2></center>
**Hackwagon Academy**

`HWA-DS102-PS1-201810`
<hr>

If you have any questions to the Problem Set, feel free to send a message to your TAs or Instructors in the Telegram chat. You are encouraged to also discuss the problem sets within your own groups.

<div class="alert alert-success">Before you start, fill in your details for this notebook and rename the notebook to `<your_name>-problem-set-week-1`, for example `jane-doe-problem-set-week-1`.</div>

In [1]:
# Name  : Tan Wei Xuan
# Class : DS102 (Saturday/3.30pm)

#### Datasets Required:

- `kor-tourist-arrivals.csv`

- `kor-tourist-departures.csv`

- `spotify-100.csv`

### Part 1 (7 Marks)

The datasets `kor-tourist-arrivals.csv` and `kor-tourist-departures.csv` are given to you. They are taken from the [Korean Tourism Organization](https://kto.visitkorea.or.kr/eng/tourismStatics/keyFacts/KoreaMonthlyStatistics.kto) website. The definition of each column is as follows:

<p></p>
<center>`kor-tourist-arrivals.csv`</center>


| col name | definition | datatype | example |
| -------- | ---------- | -------- | ------- |
| visitor_arrivals | The number of visitor arrivals | int | 3683779 |
| year | The year of tourist arrivals | int | 2010 |


<p></p>
<p></p>
<center>`kor-tourist-departures.csv`</center>

| col name | definition | datatype | example |
| -------- | ---------- | -------- | ------- |
| visitor_departures | The number of visitor departures | int | 13736976 |
| year | The year of tourist departures | int | 2010 |

Using the datasets, answer the following questions. Mark breakdowns are stated in the question e.g. **`[1]`**. <span style="color:darkblue">**Where stated, both the <u>code</u> and <u>typed answers</u> must be provided to receive full credit.**</span>

In [1]:
# import the relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

** Read from CSV to `df`**

Read the data from the `kor-tourist-arrivals.csv` CSV file into a `DataFrame` called `kor_arrivals_df`. Also read the data from the `kor-tourist-departures.csv` CSV file into a `DataFrame` called `kor_departures_df`.

In [4]:
# Read from CSV to df
kor_arrivals_df = pd.read_csv('kor-tourist-arrivals.csv')
kor_departures_df = pd.read_csv('kor-tourist-departures.csv')

**1A.** 

**i)** How many records are there in `kor_arrivals_df`? **`[0.5]`**

In [4]:
# How many records are there in kor_arrivals_df?
print("Total Records: ", len(kor_arrivals_df))

# There are total of 19 records 

# Well done

Total Records:  19

**ii)** What is the earliest and latest year in the tourist arrivals dataset? **`[0.5]`**

In [5]:
# What is the earliest and latest year in the tourist arrivals dataset?

#Earliest Year
print("Earliest Year: ",kor_arrivals_df['year'].min())

#Latest Year
print("Latest Year: ",kor_arrivals_df['year'].max())

# The earlist year in the tourist arrivals dataset is 1996
# The latest year in the tourist arrivals dataset is 2014

# Well done

Earliest Year:  1996
Latest Year:  2014

**1B.** 

**i)** How many records are there in `kor_departures_df`? **`[0.5]`**

In [6]:
# How many records are there in kor_departures_df?
# Write your code here
print("Total Records: ",len(kor_departures_df))

# There are a total of 16 records

# Well done

Total Records:  16

**ii)** What is the earliest and latest year in the tourist departures dataset? **`[0.5]`**

In [7]:
# What is the earliest and latest year in the tourist departures dataset

#Earliest Year
print("Earliest Year: ",kor_departures_df['year'].min())

#Latest Year
print("Latest Year: ", kor_departures_df['year'].max())

# The earlist year in the tourist arrivals dataset is 2000
# The latest year in the tourist arrivals dataset is 2015

# Well done

Earliest Year:  2000
Latest Year:  2015

**1C**. From $2005$ to $2010$, what was the average (mean) number of tourist departures per year? **`[1]`**

In [8]:
# From 2005 to 2010, what is the average (mean) number of tourist departures per year?

kor_departures_filt = kor_departures_df[(kor_departures_df['year'] >= 2005) & (kor_departures_df['year'] <= 2010)]

print("Mean :", kor_departures_filt['tourist_departures'].mean())

# The average (mean) number of tourist departures per year Is 10648052.5

# Well done

Mean : 10648052.5

**1D.** 

**i)** How many tourist arrivals were there in the year $2004$? **`[0.5]`**

In [9]:
# How many tourist arrivals were there in the year 2004?

print("Tourist Arrivals (2004): ",kor_arrivals_df[(kor_arrivals_df['year'] == 2004)]['tourist_arrivals'].values[0])

# There were 5818138 tourist arrivals in the year 2004

# Well done

Tourist Arrivals (2004):  5818138

**ii)** In which year were there $5,347,468$ tourist arrivals? **`[0.5]`**

In [10]:
# In which year were there 5347468 tourist arrivals?
# Write your code here
print("Year: ",kor_arrivals_df[(kor_arrivals_df['tourist_arrivals'] == 5347468)]['year'].values[0])

# There were 5,347,468 tourist arrivals in the year 2002

# Well done

Year:  2002

**1E**. From 1996 to 2014, in what years were the number of tourist arrivals between $6,000,000$ and $12,000,000$? **`[1]`**

In [15]:
# From 1996 to 2014, in what years was the number of tourist arrivals between 6000000 and 12000000?
kor_arrivals_df[(kor_arrivals_df['tourist_arrivals'] >= 6000000) & (kor_arrivals_df['tourist_arrivals'] <= 12000000)]

# The number of tourist arrivals between 6,000,000 and 12,000,000 in the years 2005, 2006, 2007, 2008, 2009, 2010, 2011 and 2012

# Well done but please include the condition year -> 1996 - 2014
# Also, there is a way to use code to extract the years into a list. Do try(:

kor_arrivals_df.loc[((kor_arrivals_df['year'] >= 1996) & (kor_arrivals_df['year'] <= 2014)) &((kor_arrivals_df['tourist_arrivals'] >= 6000000) & (kor_arrivals_df['tourist_arrivals'] <= 12000000))]

    year  tourist_arrivals
9   2005           6022752
10  2006           6155046
11  2007           6448240
12  2008           6890841
13  2009           7817533
14  2010           8797658
15  2011           9794796
16  2012          11140028

**1F**. What was the year with the <u>lowest</u> number of departures? **`[1]`**

In [47]:
# What was the year with the lowest number of departures?

print("Year with lowest departures: ",kor_departures_df.loc[kor_departures_df['tourist_departures'].idxmin()]['year'])

# The year with the lowest number of departures is 2000

# Well done

Year with lowest departures:  2000

**1G**. In 2012, how many more / less departures were there, compared to arrivals? **`[1]`**

In [13]:
# How many more / less departures were there, compared to arrivals in 2012?
kor_arrivals_filt = kor_arrivals_df[(kor_arrivals_df['year'] == 2012)]['tourist_arrivals'].values[0]
kor_departures_filt = kor_departures_df[(kor_departures_df['year'] == 2012)]['tourist_departures'].values[0]

diff = kor_departures_filt - kor_arrivals_filt

if(diff > 0):
    print("Departures MORE than Arrivals by: ", diff)
else:
    print("Departures LESS than arrivals by ", diff )

# There are 2596948 more depatures than arrivals in the year 2012.

# Well done

Departures MORE than Arrivals by:  2596948

<div class="alert alert-success">
**Checkpoint**: When you have completed Part 1, upload your progress to eLearn. eLearn only accepts the latest notebooks so if you have an existing notebook, your latest upload will **override** it.
</div>

### Part 2 (5 Marks)

The dataset `spotify-100.csv` is given to you. They are taken from Kaggle's [Top Spotify Tracks of 2017](https://www.kaggle.com/nadintamer/top-tracks-of-2017). The definition of each column is as follows:

<p></p>
<center>`spotify-100.csv`</center>

| col name | definition | datatype | example |
| -------- | ---------- | -------- | ------- |
| id | The id of a song | str | 1x5sYLZiu9r5E43kMlt9f |
| name | The name of a song | str | Just Hold On |
| artists | The artist/s that sang the song | str | Drake |
| danceability | Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable. | float | 0.707 | 
| energy | Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy. | float | 0.932 |
| key | The key the track is in. Integers map to pitches using standard Pitch Class notation. E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on. | float | 11.0 |
| instrumentals | Predicts whether a track contains no vocals. "Ooh" and "aah" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly "vocal". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0. | float | 0.000016 |
| duration_ms | The duration of the track in milliseconds. | float | 212459.0 | 

Using the dataset, answer the following questions. Mark breakdowns are stated in the question e.g. **`[1]`**. <span style="color:darkblue">**Where stated, both the <u>code</u> and <u>typed answers</u> must be provided to receive full credit.**</span>

** Read from CSV to `df`**

Read the data from `spotify-100.csv` into `DataFrame` called `songs_df`. Specify the `sep` parameter accordingly. Refer to [the documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) to help you.

In [14]:
# Read from CSV to df
songs_df = pd.read_csv('spotify-100.csv',sep='|')

**2A.** What is the song with the lowest `duration_ms` in the dataset? **`[1]`**

In [15]:
# What is the song with the lowest duration_ms?

print("Song with the lowest duration_ms: \n",songs_df.loc[songs_df['duration_ms'].idxmin()][['name','artists']])

# The song with the lowest duration_ms is Body Like A Back Road by Sam Hunt

# Well done

Song with the lowest duration_ms:
 name       Body Like A Back Road
artists                 Sam Hunt
Name: 97, dtype: object

**2B.** What is the mean of the `duration_ms` column in the dataset, ** in seconds**? **`[1]`**

In [16]:
# What is the mean of the duration_ms column, in seconds?

duration_ms_mean = songs_df.loc[:,"duration_ms"].mean()

duration_seconds_mean = (duration_ms_mean/float(1000))

print("Mean of duration_ms(seconds): ", duration_seconds_mean)

#The mean of the duration_ms coloumn is 218.38728 seconds.

# Well done

Mean of duration_ms(seconds):  218.38728

**2C.** What is the standard deviation of the `duration_ms` column in the dataset, ** in seconds**? **`[1]`**

In [17]:
# What is the standard deviation of the duration_ms column, in seconds?
duration_ms_std = songs_df.loc[:,"duration_ms"].std()

duration_seconds_std = (duration_ms_std/float(1000))

print("Standard Deviation of duration_ms(seconds): ", duration_seconds_std)

#The standard deviation of the duration_ms coloumn is 32.851077720457745 seconds.

# Well done

Standard Deviation of duration_ms(seconds):  32.851077720457745

**2D.** What is the skewness of the `danceability` column in the dataset? Does it mean that the series is right-tailed or left-tailed? **`[1]`**

In [18]:
# What is the skewness of the danceability column in the dataset?
print("Skew value: ", songs_df['danceability'].skew())

# The skewness of the danceability column in the dataset is -0.8927224225971558

# Is the series right-tailed or left-tailed?
# The series is left-tailed since the skewness value is negative

# Well done

Skew value:  -0.8927224225971558

**2E.** What is the kurtosis calculation for the `energy` column in the dataset?  **`[1]`**

In [19]:
# What is the kurtosis calculation for the energy column?
print("Kurtosis: ", songs_df['energy'].kurt())

# The kurtosis for the energy colomn is -0.8328329240469872

# Well done

Kurtosis:  -0.8328329240469872

<div class="alert alert-success">
**Checkpoint**: When you have completed Part 2, upload your progress to eLearn. eLearn only accepts the latest notebooks so if you have an existing notebook, your latest upload will **override** it.
</div>